{{ define "main" }}
<article class="blog-post">
  <div class="container container-narrow">
    <header class="post-header">
      <div class="post-header-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        <span class="post-author">{{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Params.author.name }}{{ end }}</span>
      </div>
      <h1>{{ .Title }}</h1>
      {{ with .Params.tags }}
      <div class="post-tags">
        {{ range . }}
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/" class="tag">{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
  </div>
  {{ partial "lead-magnet.html" . }}
  <footer class="post-footer">
    <div class="container container-narrow">
      <a href="/blog/" class="back-link">&larr; Back to all posts</a>
    </div>
  </footer>
</article>
{{ end }}

{{ define "scripts" }}
  {{ $leads := resources.Get "js/leads.js" | minify | fingerprint }}
  <script src="{{ $leads.RelPermalink }}" defer></script>
{{ end }}
